

<header class="d-flex justify-content-center py-3">
  <ul class="nav nav-pills">
    <li class="nav-item"><a routerLink="/" class="nav-link">Home</a></li>
    <li class="nav-item">
      <a routerLink="/new" class="nav-link" aria-current="page">New reservation</a>
    </li>
    <li class="nav-item"><a routerLink="/list" class="nav-link">Check reservations</a></li>
    <li class="nav-item"><a routerLink="/about" class="nav-link">About</a></li>
    <li class="nav-item"><a routerLink="/signals" class="nav-link">Signals</a></li>
    <li class="nav-item"><a routerLink="/products" class="nav-link">Products</a></li>

  </ul>
</header>